<!--SEARCH-HOUSES-->

<app-search-houses
  [houses] = "houses"
></app-search-houses>

<br>

<!--JOIN-->

<button (click)="regForm()">
  Join
</button>

<app-registration
  *ngIf="pageReg"
  (registUser)="regUser($event)"
></app-registration>

<!--LOGIN-->

<button (click)="logForm()">
  Sign In
</button>

<app-login
  *ngIf="pageLog"
  (loginedUser)="logUser($event)"
></app-login>

<p>{{infoAboutLog}}</p>

<br>

<!--CREATE HOUSE-->

<button (click)="showRegHousesForm()">
  Add new House
</button>

<app-registration-house
  *ngIf="showHousesRegForm"
  (addHouse)="createNewHouse($event)"
></app-registration-house>

<br>

<!--SHOW HOUSES-->

<button (click)="showHouses()">
  Show houses
</button>

<app-show-all-houses
  *ngIf="show"
  [houses] = "houses"
></app-show-all-houses>




